<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />

  <title>chat app - Araoo.ai</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link
          rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta17/dist/css/tabler-flags.min.css"
  />
  <link
          rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta17/dist/css/tabler-payments.min.css"
  />
  <link
          rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta17/dist/css/tabler-vendors.min.css"
  />
  <link
          rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta17/dist/css/tabler.min.css"
  />
</head>
<body>
<div class="page">
  <aside class="navbar navbar-vertical navbar-expand-sm navbar-dark">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button">
        <span class="navbar-toggler-icon"></span>
      </button>
      <h1 class="navbar-brand navbar-brand-autodark">
        <a href="#">
          <img
                  src="#"
                  width="110"
                  height="32"
                  alt="Tabler"
                  class="navbar-brand-image"
          />
        </a>
      </h1>
      <div class="collapse navbar-collapse" id="sidebar-menu">
        <ul class="navbar-nav pt-lg-3">
          <li class="nav-item">
            <a class="nav-link" href="./">
              <span class="nav-link-title"> Home </span>
            </a>
        </ul>
      </div>
    </div>
  </aside>
  <div class="page-wrapper">
    <div class="page-header d-print-none">
      <div class="container-xl">
        <div class="row g-2 align-items-center">
          <div class="col">
            <h2 class="page-title">
              Vertical layout
            </h2>
          </div>
        </div>
      </div>
    </div>
    <div class="page-body">
      <div class="container-xl">
        <div class="row row-deck row-cards">
          <div class="col-lg-3">
            <div class="card">
              <div class="card-body border" style="height: 38rem; padding: 0;">
                <div class="card-header">
                  <div class="row g-2">
                    <div class="col">
                      <input type="text" class="form-control" placeholder="Search for…" />
                    </div>
                    <div class="col-auto">
                      <a href="#" class="btn btn-icon" aria-label="Button">

                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                          <circle cx="10" cy="10" r="7" />
                          <line x1="21" y1="21" x2="15" y2="15" />
                        </svg>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="list-group list-group-flush">
                  <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
                    Context 1
                  </a>
                  <a href="#" class="list-group-item list-group-item-action">Context 2</a>
                  <a href="#" class="list-group-item list-group-item-action">Context 3</a>
                  <a href="#" class="list-group-item list-group-item-action">Context 4</a>


                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-9">
            <div class="card">
              <div class="card-body border" style="height: 38rem;padding: 0;">
                <div class="card-header">
                  <h3 class="card-title">Chat</h3>
                </div>
                <div>
                  <ul class="list-unstyled">
                    <li class="clearfix">
                      <div class="card">
                        <div class="card-body">
                          Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda ex velit necessitatibus sapiente maiores reiciendis blanditiis quod, nostrum reprehenderit veritatis vero omnis soluta ratione quae, doloremque commodi debitis suscipit cum.
                        </div>
                      </div>
                    </li>
                    <li class="clearfix">
                      <div class="card">
                        <div class="card-body">
                          Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda ex velit necessitatibus sapiente maiores reiciendis blanditiis quod, nostrum reprehenderit veritatis vero omnis soluta ratione quae, doloremque commodi debitis suscipit cum.
                        </div>
                      </div>
                    </li>
                    <li class="clearfix">
                      <div class="card">
                        <div class="card-body">
                          Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda ex velit necessitatibus sapiente maiores reiciendis blanditiis quod, nostrum reprehenderit veritatis vero omnis soluta ratione quae, doloremque commodi debitis suscipit cum.
                        </div>
                      </div>
                    </li>
                    <li class="clearfix">
                      <div class="card">
                        <div class="card-body">
                          Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda ex velit necessitatibus sapiente maiores reiciendis blanditiis quod, nostrum reprehenderit veritatis vero omnis soluta ratione quae, doloremque commodi debitis suscipit cum.
                        </div>
                      </div>
                    </li>
                    <li class="clearfix">
                      <div class="card">
                        <div class="card-body">
                          Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda ex velit necessitatibus sapiente maiores reiciendis blanditiis quod, nostrum reprehenderit veritatis vero omnis soluta ratione quae, doloremque commodi debitis suscipit cum.
                        </div>
                      </div>
                    </li>
                    <li class="clearfix">
                      <div class="card">
                        <div class="card-body">
                          Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda ex velit necessitatibus sapiente maiores reiciendis blanditiis quod, nostrum reprehenderit veritatis vero omnis soluta ratione quae, doloremque commodi debitis suscipit cum.
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="col-lg-10" style="margin: auto;" >
                  <div class="input-icon">
                    <input type="text" value="" class="form-control form-control-rounded" placeholder="Search…" />
                    <span class="input-icon-addon">
														<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-send" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
															<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
															<path d="M10 14l11 -11"></path>
															<path d="M21 3l-6.5 18a.55 .55 0 0 1 -1 0l-3.5 -7l-7 -3.5a.55 .55 0 0 1 0 -1l18 -6.5"></path>
													 </svg>
												</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta17/dist/js/tabler.min.js"></script>
<script type="text/javascript"></script>
</body>
</html>
